.oneUser {
  padding: .5rem 1rem;
  border: 1px dashed #ccc;
  margin-bottom: 1rem;
  width: 130px;
  float: left;
  margin-right: 10px; 
  line-height: 120px;
}

li{
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
}

body {
  padding: 10px;
}

.carousel {
  position: relative;
  width: 600px;
  padding: 10px 40px;
  border: 1px solid #CCC;
  border-radius: 15px;
  background: #eee;
  display: flex;
}

.carousel img {
  width: 130px;
  height: 130px;
  display: block;
  // -webkit-touch-callout: none; 
  // -webkit-user-select: none;   
  // -khtml-user-select: none;    
  // -moz-user-select: none;
  // -ms-user-select: none; 
  // user-select: none; 
}

.arrow {
  position: absolute;
  top: 60px;
  padding: 0;
  background: #ddd;
  border-radius: 15px;
  border: 1px solid gray;
  font-size: 24px;
  line-height: 24px;
  color: #444;
  display: block;
}

.arrow:focus {
  outline: none;
}

.arrow:hover {
  background: #ccc;
  cursor: pointer;
}

.prev {
  left: 7px;
  height: 20px;
  margin-top: 57px;
}

.next {
  right: 7px;
  height: 20px;
  margin-top: 57px;
}

.prevM{
  left: 7px;
  height: 20px;
  margin-top: 90px;
}

.nextM{
  right: 7px;
  height: 20px;
  margin-top: 90px;
}

.gallery {
  width: 550px;
  overflow: hidden;
}

.gallery ul {
  height: 130px;
  width: 9999px;
  margin: 0;
  padding: 0;
  list-style: none;
  transition: margin-left 250ms;
  font-size: 0;
}

.gallery li {
  display: inline-block;
}

.combDiv{
  height: 200px;
}